In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [3]:
data=pd.read_csv('Churn_Modelling.csv')

In [4]:
data.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

In [5]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
#encode categorical variables
label_enc_gender=LabelEncoder()
data['Gender']=label_enc_gender.fit_transform(data['Gender'])

In [8]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [9]:
#one hot encode the geography

one_hot_enc_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=one_hot_enc_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_enc_geo.get_feature_names_out(['Geography']))

In [10]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
#combine
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [12]:
#split the data 
x=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [14]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [15]:
with open('label.pkl','wb') as file:
    pickle.dump(label_enc_gender,file)

with open('onehot.pkl','wb') as file:
    pickle.dump(one_hot_enc_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN REGRESSION PBM STATEMENT

In [16]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [20]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),#HL2
    Dense(1)
])

In [23]:
#complie the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [24]:
model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [27]:
#set up the tensorboard
import datetime
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir='logs/fit'+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [28]:
#set up early stopping
early_stoppin_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [29]:
##train the model
history=model.fit(x_train,y_train,validation_data=(x_test,y_test),epochs=100,
                  callbacks=[tensorflow_callback,early_stoppin_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100394.8984 - mae: 100394.8984 - val_loss: 98580.9062 - val_mae: 98580.9062
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99850.4375 - mae: 99850.4375 - val_loss: 97465.4219 - val_mae: 97465.4219
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97878.2891 - mae: 97878.2891 - val_loss: 94549.0000 - val_mae: 94549.0000
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 93906.4922 - mae: 93906.4922 - val_loss: 89536.7422 - val_mae: 89536.7422
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 87895.6094 - mae: 87895.6094 - val_loss: 82683.7344 - val_mae: 82683.7344
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 80319.3125 - mae: 80319.3125 - val_loss: 74814.0000 - val_mae: 74814.0000
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 72237.7891 - mae: 72237.7891 - val_loss: 67240.6250 - val_mae: 67240.6250
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 64733.8516 - mae: 64733.8516 - val_loss: 60763.4023 - val_mae: 60763.4023
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 58754.5195 - mae: 58754.5195 - val_loss: 56128.6992 - val_mae: 56128.6992
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 54721.5273 - mae: 54721.5273 - val_loss: 53188.6562 - val_mae: 53188.6562
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52320.3477 - mae: 52320.3477 - val_loss: 51752.5625 - val_mae: 51752.5625
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51134.2422 - mae: 51134.2422 - val_loss: 51185.8555 - val_mae: 51185.8555
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50643.2383 - mae: 50643.2383 - val_loss: 50975.7266 - val_mae: 50975.7266
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50424.3398 - mae: 50424.3398 - val_loss: 50869.9453 - val_mae: 50869.9453
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50317.2344 - mae: 50317.2344 - val_loss: 50820.8906 - val_mae: 50820.8906
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50245.3750 - mae: 50245.3750 - val_loss: 50782.4258 - val_mae: 50782.4258
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50187.7969 - mae: 50187.7969 - val_loss: 50742.3398 - val_mae: 50742.3398
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50136.6797 - mae: 50136.6797 - val_loss: 50704.3438 - val_mae: 50704.3438
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50093.2266 - mae: 50093.2266 - val_loss: 50673.4453 - val_mae: 50673.4453
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50050.9609 - mae: 50050.9609 - val_loss: 50638.8750 - val_mae: 50638.8750
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50013.4023 - mae: 50013.4023 - val_loss: 50612.4805 - val_mae: 50612.4805
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49977.2188 - mae: 49977.2188 - val_loss: 50584.4766 - val_mae: 50584.4766
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49950.2695 - mae: 49950.2695 - val_loss: 50566.0547 - val_mae: 50566.0547
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49917.7891 - mae: 49917.7891 - val_loss: 50553.5352 - val_mae: 50553.5352
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49891.5195 - mae: 49891.5195 - val_loss: 50535.3242 - val_mae: 50535.3242
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49864.4648 - mae: 49864.4648 - val_loss: 50512.8633 - val_mae: 50512.8633
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49843.9336 - mae: 49843.9336 - val_loss: 50495.6406 - val_mae: 50495.6406
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49819.9766 - mae: 49819.9766 - val_loss: 50480.8906 - val_mae: 50480.8906
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49798.4531 - mae: 49798.4531 - val_loss: 50459.6133 - val_mae: 50459.6133
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49779.3672 - mae: 49779.3672 - val_loss: 50450.1094 - val_mae: 50450.1094
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49764.9961 - mae: 49764.9961 - val_loss: 50431.7070 - val_mae: 50431.7070
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49749.5859 - mae: 49749.5859 - val_loss: 50419.8672 - val_mae: 50419.8672
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49729.1289 - mae: 49729.1289 - val_loss: 50412.2695 - val_mae: 50412.2695
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49713.9961 - mae: 49713.9961 - val_loss: 50404.6250 - val_mae: 50404.6250
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49703.5664 - mae: 49703.5664 - val_loss: 50394.4219 - val_mae: 50394.4219
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49688.8203 - mae: 49688.8203 - val_loss: 50388.2812 - val_mae: 50388.2812
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49674.7930 - mae: 49674.7930 - val_loss: 50381.5195 - val_mae: 50381.5195
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49664.8906 - mae: 49664.8906 - val_loss: 50380.8828 - val_mae: 50380.8828
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49650.5781 - mae: 49650.5781 - val_loss: 50370.8477 - val_mae: 50370.8477
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49640.9805 - mae: 49640.9805 - val_loss: 50365.4688 - val_mae: 50365.4688
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 49626.1055 - mae: 49626.1055 - val_loss: 50353.1289 - val_mae: 50353.1289
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49616.9688 - mae: 49616.9688 - val_loss: 50352.2539 - val_mae: 50352.2539
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49608.9609 - mae: 49608.9609 - val_loss: 50346.5742 - val_mae: 50346.5742
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49599.9023 - mae: 49599.9023 - val_loss: 50342.3711 - val_mae: 50342.3711
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49588.2188 - mae: 49588.2188 - val_loss: 50342.2383 - val_mae: 50342.2383
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49580.0977 - mae: 49580.0977 - val_loss: 50343.9688 - val_mae: 50343.9688
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49571.4336 - mae: 49571.4336 - val_loss: 50342.2031 - val_mae: 50342.2031
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49562.9570 - mae: 49562.9570 - val_loss: 50337.5938 - val_mae: 50337.5938
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49558.9844 - mae: 49558.9844 - val_loss: 50338.1328 - val_mae: 50338.1328
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49546.6367 - mae: 49546.6367 - val_loss: 50333.4688 - val_mae: 50333.4688
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49539.7539 - mae: 49539.7539 - val_loss: 50334.7383 - val_mae: 50334.7383
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49532.4062 - mae: 49532.4062 - val_loss: 50329.4023 - val_mae: 50329.4023
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49525.3008 - mae: 49525.3008 - val_loss: 50327.6875 - val_mae: 50327.6875
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49518.3008 - mae: 49518.3008 - val_loss: 50325.7930 - val_mae: 50325.7930
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49511.2031 - mae: 49511.2031 - val_loss: 50323.6016 - val_mae: 50323.6016
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49504.5195 - mae: 49504.5195 - val_loss: 50320.0469 - val_mae: 50320.0469
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49499.0547 - mae: 49499.0547 - val_loss: 50316.0312 - val_mae: 50316.0312
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49490.2617 - mae: 49490.2617 - val_loss: 50318.7461 - val_mae: 50318.7461
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49486.8594 - mae: 49486.8594 - val_loss: 50318.6445 - val_mae: 50318.6445
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49482.6641 - mae: 49482.6641 - val_loss: 50314.9609 - val_mae: 50314.9609
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49473.9570 - mae: 49473.9570 - val_loss: 50303.0430 - val_mae: 50303.0430
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49466.6328 - mae: 49466.6328 - val_loss: 50314.8398 - val_mae: 50314.8398
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49460.0547 - mae: 49460.0547 - val_loss: 50308.4453 - val_mae: 50308.4453
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49459.6094 - mae: 49459.6094 - val_loss: 50302.4883 - val_mae: 50302.4883
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49450.5547 - mae: 49450.5547 - val_loss: 50306.1992 - val_mae: 50306.1992
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49445.2812 - mae: 49445.2812 - val_loss: 50305.3516 - val_mae: 50305.3516
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49437.6562 - mae: 49437.6562 - val_loss: 50310.7031 - val_mae: 50310.7031
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49434.8438 - mae: 49434.8438 - val_loss: 50311.4531 - val_mae: 50311.4531
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49429.6406 - mae: 49429.6406 - val_loss: 50300.5781 - val_mae: 50300.5781
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49424.3555 - mae: 49424.3555 - val_loss: 50296.4648 - val_mae: 50296.4648
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49420.5039 - mae: 49420.5039 - val_loss: 50296.2188 - val_mae: 50296.2188
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49415.2148 - mae: 49415.2148 - val_loss: 50293.5703 - val_mae: 50293.5703
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49410.8125 - mae: 49410.8125 - val_loss: 50289.2617 - val_mae: 50289.2617
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49407.7031 - mae: 49407.7031 - val_loss: 50289.6406 - val_mae: 50289.6406
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49402.6914 - mae: 49402.6914 - val_loss: 50292.7578 - val_mae: 50292.7578
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49397.8438 - mae: 49397.8438 - val_loss: 50290.5156 - val_mae: 50290.5156
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49393.3594 - mae: 49393.3594 - val_loss: 50296.7383 - val_mae: 50296.7383
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49388.6953 - mae: 49388.6953 - val_loss: 50303.8906 - val_mae: 50303.8906
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49384.7969 - mae: 49384.7969 - val_loss: 50296.9570 - val_mae: 50296.9570
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49379.8438 - mae: 49379.8438 - val_loss: 50307.5352 - val_mae: 50307.5352
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49377.6875 - mae: 49377.6875 - val_loss: 50301.9258 - val_mae: 50301.9258
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49372.6328 - mae: 49372.6328 - val_loss: 50314.1992 - val_mae: 50314.1992
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49370.8711 - mae: 49370.8711 - val_loss: 50304.9336 - val_mae: 50304.9336

In [30]:
model.save('model_regression.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [31]:
%load_ext tensorboard

In [32]:
%tensorboard --logdir logs/fit20260120-234240

In [34]:
#evaluate model on test data
test_loss,test_mae=model.evaluate(x_test,y_test)
print(f'test mae: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50289.2617 - mae: 50289.2617
test mae: 50289.26171875